# Local .terraform directories and files
**/.terraform/*
.terraform*

!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# own secret vars store.
personal.auto.tfvars


terraform.tfvars

tfplankey.json
02/src/key.json
key.json
02/src/key.json
